*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.padaria-imagem{
    width: 25%;
}

.padaria{
    background-image: linear-gradient(#000000,#000000);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.padaria-div-conteudo{
    width: 35%;
}


.padaria-titulo{
    padding: 24px 0;
}

.produto{
    padding: 24px 0;
}
.produto-imagem{
    width: 300px;
}

.produto-icone{
    width: 24px;
    padding: 4px 8px;
}

.produto-div{
    text-align: center;
    padding: 16px 0;
}

.produto-titulo{
    text-align: center;
    padding: 50px 0;
}

.produto-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
